<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chatapp</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h2>All chats </h2>
    <form method="GET" action="/chats/new">
        <button id="btn">New Chat</button>
    </form>
    <br>

    <% for(let chat of chats) { %>
        <div class="chat">
            <p>From:<i> <%= chat.from %></i></p>
            <div class="msg">
                <p>Message: <%= chat.msg %></p>
            </div>
            <p>Received by:<i> <%= chat.to %></i></p>
        </div>
        <br><br>
    <% } %>
</body>
</html>